<div class="content">
    <div class="title" nz-row nzAlign="middle">
        <div nz-col nzSpan="22">ELECTRICAL ENGINEERING COMPANY SMART-HOUSE CAMEROON</div>
        <div nz-col>
            <i nz-icon nzType="poweroff" nzTheme="outline" (click)="logout()"></i>
        </div>
    </div>
    <div class="dyna"></div>

    <div class="menu">
        <nz-tabset nzTabPosition="bottom" (nzSelectedIndexChange)="menuChanged($event)">
            <nz-tab [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <i nz-icon nzType="bulb" nzTheme="outline"></i>
                </ng-template>
                <div class="ra">
                    <div class="otou">
                        <P>SOCIETE DU GENIE ELECTRIQUE POUR BATIMENT AU CAMEROUN</P>
                        <a href="https://www.youtube.com/channel/UCOf6PHe4lyEH1PxwHeTiGPQ/featured">
                            <P>ELECTRICAL BUILDING INSTALLATION</P>
                            <P>ELECTRICAL INDUSTRIAL INSTALLATION</P>
                            <P>SECURITY SYSTEM INSTALLATION</P>
                            <p>RENEWABLE ENERGY</p>
                        </a>
                        <p>ETUDE-CONCEPTION-REALISATION-MAINTENANCE</p>

                        <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-699460.jpeg" alt="" />
                        <img nz-image width="200px" height="200px" nzSrc="assets\solar-panel-array-power-sun-electricity-159397.jpeg" />
                        <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-6207826.jpeg" alt="" />
                        <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-96612.jpeg" alt="" />

                    </div>

                    <div class="sandra">
                        <!-- <div [ngStyle]="{
                width: '300px',
                border: '1px solid #d9d9d9',
                borderRadius: '4px'
              }">
                            <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)" (nzPanelChange)="onPanelChange($event)"></nz-calendar>
                        </div> -->
                    </div>
                </div>
            </nz-tab>

            <nz-tab [nzTitle]="titleTemplate1">
                <ng-template #titleTemplate1>
                    <i nz-icon nzType="dollar" nzTheme="outline"></i>
                </ng-template>
                <h2>numero du compte 650 198 973/695 90 88 41</h2>
                <img nz-image width="200px" height="200px" nzSrc="assets\téléchargement (1).jpg" alt="" />

                <img nz-image width="200px" height="200px" nzSrc="assets\téléchargement.jpg" alt="" />
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate5">
                <ng-template #titleTemplate5>
                    <i nz-icon nzType="phone" nzTheme="outline"></i>
                </ng-template>
                <div class="andra">
                    <P>POUR TOUS VOS PROBLEME DE DEPANNAGE-INSTALLATION -RENOVATION</P>
                    <P>Nous somme situer a bonaberie 500m derriere le lycee polyvalent de bonaberie</P>
                    <p>contactez-nous plus rapidement via</p>
                    <h2>contact : +237 650 198 973</h2>
                    <p>
                        <a href="https://web.whatsapp.com/">
                            <i nz-icon nzType="whats-app" nzTheme="outline"></i
              ><label for="watsapp">watsapp web </label></a
            >
          </p>
          <p>
            <a href="https://www.youtube.com/channel/UCOf6PHe4lyEH1PxwHeTiGPQ/featured">
              <i nz-icon nzType="youtube" nzTheme="outline"></i
              ><label for="watsapp">vister notre site </label></a
            >
          </p>
           <p>
            <a href="https://wa.me/whatsappphonenumber/?text=urlencodedtext">
              <i nz-icon nzType="whats-app" nzTheme="outline"></i
              ><label for="watsapp">watsapp phone </label></a
            >
          </p>
          <p>
            <a href="tel:672973811">
              <i class="ab" nz-icon nzType="phone" nzTheme="outline"></i
              ><label for="watsapp">telephone </label></a
            >
          </p>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="titleTemplate2">
        <ng-template #titleTemplate2>
          <i nz-icon nzType="user" nzTheme="outline"></i>
                            </ng-template>
                            <div class="moto">
                                <img nz-image width="200px" height="200px" nzSrc="assets\IMG_20200704_210544_734.jpg" alt="outils de travail de qualite" />
                                <P>
                                    NOM ET PRENOM DU RESPONSABLE: HILAIRE FOTSO
                                </P>
                                <p>NATIONALITE: CAMEROUNAISE </p>
                                <p>PROFESSION : ENTREPRENEUR DES TRAVAUX DU GENIE ELECTRIQUE </p>
                                <p>PAYS ET VILLE DE RESIDENCE: CAMEROUN-DOUALA-BONABERIE</p>
                                <p>COMPETENCE: TITULAIRE D'UN BREVET DE TECHNICIEN SUPERIEURE DES TRAVAUX DU GENIE ELECTRIQUE</p>
                            </div>

            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate3">
                <ng-template #titleTemplate3>
                    <i nz-icon nzType="file-protect" nzTheme="outline"></i>
                </ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate4">
                <ng-template #titleTemplate4>
                    <i nz-icon nzType="question-circle" nzTheme="outline"></i>
                </ng-template>

                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-7238606.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\IMG_20200518_122010.jpg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-6587826.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-5824837.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-5691602.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\IMG-20200712-WA0001.jpg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-3393435.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-2413661.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-323775.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-5092830.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-1819668.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-6207826.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-699460.jpeg" alt="" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-6349405.jpeg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-4792486.jpeg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-713149.jpeg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\IMG_20200602_105824.jpg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-2263436.jpeg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-8853534.jpeg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\IMG_20200704_210544_734.jpg" alt="outils de travail de qualite" />
                <img nz-image width="200px" height="200px" nzSrc="assets\pexels-photo-5691583.jpeg" alt="outils de travail de qualite" />
            </nz-tab>
        </nz-tabset>
        </div>
    </div>